.shopping-cart {
    position: absolute;
    top: 0;
    right: -100em;
    transition: .5s;
    width: 750px;
    min-height: 200px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}

.shopping-cart .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.shopping-cart .item {
    padding: 20px 30px;
    height: 120px;
    align-items: center;
    gap: 1em;
    display: flex;
}

.shopping-cart .item .image {
    width: 42px !important;
    height: 42px !important;
}

.shopping-cart .item:nth-child(3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.shopping-cart .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.shopping-cart .delete-btn,
.shopping-cart .like-btn {
    display: inline-block;
    Cursor: pointer;
}

.shopping-cart .delete-btn {
    width: 18px;
    height: 17px;
    background: url("https://cdn-icons-png.flaticon.com/512/5503/5503673.png") no-repeat center;
}

.shopping-cart .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('https://w7.pngwing.com/pngs/405/616/png-transparent-user-interface-like-dislike-hand-ui-user-interface-icon.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.shopping-cart .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.shopping-cart .quantity {
    margin-right: 60px;
}

.shopping-cart .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.shopping-cart button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.shopping-cart .minus-btn img {
    margin-bottom: 3px;
}

.shopping-cart .plus-btn img {
    margin-top: 2px;
}

.shopping-cart button:focus,
.shopping-cart input:focus {
    outline: 0;
}

.shopping-cart .total-price {
    width: 83px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .shopping-cart .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .shopping-cart .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .shopping-cart .image img {
        width: 50%;
    }

    .shopping-cart .quantity,
    .shopping-cart .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .shopping-cart .buttons {
        margin-right: 20px;
    }
}

.going-to-right {
    right: 0;
    transition: .5s;
}